[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-genai = "*"
langchain-huggingface = "*"
sentence-transformers = "*"
python-dotenv = "*"
dotenv = "*"
langchain-qdrant = "*"
qdrant-client = "*"

[dev-packages]

[requires]
python_version = "3.12"
